---
const { title } = Astro.props;
---

<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ? `Cyto` : "Cyto"}</title>
    <link rel="stylesheet" href="index.css" />
    <meta
      name="description"
      content="Cytokinesis application"
    />
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
