---
import BaseLayout from "../layouts/BaseLayout.astro";
import App from "../components/App";
import ReactComponent from "../components/ReactComponent";
---

<BaseLayout>
  <div>Cyto content</div>
  <App client:load>
    <h1>Hello from app component</h1>
    <ReactComponent client:load />
  </App>
</BaseLayout>
